body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}
.odd{
    color: midnightblue;
}
.even{
    color: darkolivegreen;
}
.high{
    color: cadetblue;
}
.bright{
    font-size: xxx-large;
}